.header{
    background-color: #DFEDF8;
}

.header-logo{
    width: 45px;
}
#carouselExampleCaptions{
    
}
button{

}
.accordion-item h4{
    color: blue;
}
.accordion-item h4:hover{
        text-decoration: underline;

}
.accordion-button::after{
    display: none !important;
}
.accordion-button:not(.collapsed) {
    color: #0c63e4 !important;
    background-color: none !important;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
element.style {
    position: absolute;
    inset: -123px auto auto -15px !important;
    margin: 0px;
    transform: translate(113px, 40px);
}
